/* Theme Color Default  #b07926 = rgba(176, 121, 38, */

/* TEXT COLOR */
nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content .title,
.pagination>li>a,
.ulockd-title-icon,
.fancybox-gallery-slider .owl-prev,
.fancybox-gallery-slider .owl-next,
.team-icon a,
.twitter.style2 ul li a,
.text-thm2 {
  color: #b07926 !important;
}

/* TEXT HOVER COLOR */
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover, 
.ulockd-media-box .media:hover .media-heading,
.ulockd-sitemap > li a:hover,
.ulockd-shop-item:hover h3,
.about-box:hover .ab-details h3,
.fservice-box:hover h3,
.ulockd-bp-btn:hover,
.ulockd-bp-details.style2:hover .ulockd-bp-title h3 {
	color: #b07926 !important;
}
nav.navbar.bootsnav.light-red ul.nav > li > a.active,
nav.navbar.bootsnav.light-red ul.nav > li > a:hover,
nav.navbar.bootsnav.light-red li.dropdown ul.dropdown-menu > li > a:hover {
	color: #b07926;
}

/* BACKGROUND COLOR */
.main-header-nav,
.menu-style1,
.header-top,
.db-details .wsixty,
nav.navbar.bootsnav.ulockd-menu-style-two li.dropdown ul.dropdown-menu,
.attr-nav > ul > li > a span.badge,
.ulockd-home-two,
.fslmn-one,
.srvc-icon,
.ulockd-copy-right,
.ulockd-l2-copy-right,
.price-tag,
.ulocked-pricing-tag,
.contact-details .contact-place > li,
.ulockd-product-details a.btn.hvr-bounce-to-right:before,
.ulockd-all-service a.active,
nav.navbar.bootsnav.ulockd-menu-style-two #navbar-menu,
.navbar-sticky.navbar-scrollspy.ulockd-menu-style-two,
.ulockd-faq-content .panel-default > .panel-heading,
.amount-box input[type="radio"]:checked+label,
.pagination>.active>a,
.ulockd-bgthm {
	background-color: #b07926 !important;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all, 
.ui-timepicker-list .ui-timepicker-selected:hover, 
.ui-timepicker-list li:hover, 
li.ui-timepicker-selected {
	background-color: #b07926;

}

/* HOVER BACKGROUND COLOR */
.social-linked a:hover,
.social-linked-two a:hover,
.form-group.ulockd-contact-btn:hover button,
.ulockd-tag-list-details a:hover,
.ficon-box:hover .ficon span,
.ulockd-tag-list-details li:hover a,
.fancybox-gallery-slider .owl-prev:hover, 
.fancybox-gallery-slider .owl-next:hover,
.team-icon a:hover,
.partner-slider .owl-dot.active span, 
.partner-slider .owl-dot:hover span,
.partner-slider .owl-dot:focus span,
.footer-font-icon a:hover,
.nav.team-tab>li>a:focus,
.nav.team-tab>li>a:hover,
.team-tab>li.active>a:before,
.team-tab>li.active>a,
.team-tab>li.active>a:focus, 
.team-tab>li.active>a:hover,
.mt-separator:after,
.title-bottom:before {
	background-color: #b07926;
}
.main-slider2 .owl-next:hover,
.main-slider2 .owl-prev:hover,
.blog-post-img-slider .owl-prev:hover,
.blog-post-img-slider .owl-next:hover,
.ulockd-bpost-slider .owl-controls .owl-prev:hover,
.ulockd-bpost-slider .owl-controls .owl-next:hover {
	background-color: #b07926;
}
.masonry-filter a.active,
.masonry-filter a:active,
.masonry-filter a:hover,
.masonry-filter a:focus {
	background-color: #b07926;
}

/* BACKGROUND COLOR TRANSPARENT */
.ulockd-ap-service-two::before,
.ulockd-coming-soon::before,
.ulockd-uconctruction::before {
	background-color: rgba(176, 121, 38, .98);
}
.overlay-tc95 {
	background-color: rgba(176, 121, 38, .95);
}
.blog-npost:hover .blog-overlay,
.shop-box .overlay,
.gallery-thumb .layer,
.overlay-tc9 {
	background-color: rgba(176, 121, 38, 0.9);
}
.overlay-tc85 {
	background-color: rgba(176, 121, 38, .85);
}
.overlay-tc8 {
	background-color: rgba(176, 121, 38, .8);
}
.gallery-thumb .overlayer,
.overlay-tc75 {
	background-color: rgba(176, 121, 38, .75);
}
.ulockd-footer-flickr li .thumb .overlay,
.overlay-tc7 {
	background-color: rgba(176, 121, 38, .7);
}
.fservice-box .db-overlayer,
.overlay-tc65 {
	background-color: rgba(176, 121, 38, .65);
}
.gallery-overlay,
.team-overlay,
.ulockd-tm-overlay,
.overlay-tc6 {
	background-color: rgba(176, 121, 38, .6);
}
.overlay-tc55 {
	background-color: rgba(176, 121, 38, .55);
}
.ulockd-overlayer-thm5,
.overlay-tc5 {
	background-color: rgba(176, 121, 38, .5);
}

/* BUTTON TEMPALTE COLOR */
.ulockd-btn-thm2 {
  background-color: #b07926;
  border-color: #b07926;
}
.ulockd-btn-styledark:hover,
.ulockd-btn-styledark:active,
.ulockd-btn-styledark:focus {
  background-color: #b07926;
}
.ulockd-btn-white:hover,
.ulockd-btn-white:active,
.ulockd-btn-white:focus {
  background-color: #b07926 !important;
  border-color: #b07926 !important;
}
.ulockd-btn-gray:hover,
.ulockd-btn-gray:active,
.ulockd-btn-gray:focus {
  background-color: #b07926 !important;
  border-color: #b07926 !important;
}
.ulockd-btn-transparent:hover,
.ulockd-btn-transparent:active,
.ulockd-btn-transparent:focus {
  background-color: #b07926 !important;
  border-color: #b07926 !important;
}
/* BORDER TEMPALTE COLOR */
.ulockd-bdr-thm {border: 1px solid #b07926;
}
nav.navbar li.dropdown ul.dropdown-menu,
.testimonial {
	border-bottom: 5px solid #b07926 !important;
}
.ulockd-bb-solid-thm {
    border-bottom: 1px solid #b07926;
}
.ulockd-bt-solid-thm {
    border-top: 1px solid #b07926;
}
#custom_carousel .controls li.active {
    border-top: 3px solid #b07926;
}
.ulockd-bb-dotted {
	border-bottom: 1px dotted #b07926;
}
.mt-separator,
.ulockd-bb-dashed {
	border-bottom: 1px dashed #b07926;
}
.ulockd-contact-form .ulockd-form-fg {
    border: 2px dashed #b07926;
}
.pagination>.active>a,
.amount-box input[type="radio"]:checked+label,
.team-tab>li.active>a,
.team-tab>li.active>a:focus, 
.team-tab>li.active>a:hover,
.ulockd-all-service a.active {
	border-color:  #b07926;
}
/* Hover Border COlor */
.team-icon a:hover,
.team-details .team-icon a {	
    border: 1px solid #b07926;
}