/* Slider Sass */

/* Bx Slider */
.bx-wrapper {
  @include box-shadow(0 0 5px $gray-lightested !important);
  border: 5px solid $white-ff;
  background: $white-ff;
  padding: 11px 5px;
  margin-bottom: 0;
}

/* Testimonial Carousel */
.owl-carousel {
  .owl-item {
  	img{
  	  width: auto;
  	}
  }
}
/* PSlider */
.slideDemos-single {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 1em;
  .pogoSlider {
    height: 225px;
  }
  h3 {
    text-align: center;
    margin-top: 90px;
    color: $white-ff;
    font-weight: 700;
  }
}